<div class="main-container" *ngIf="currentUser">
  <div #canvasContainer class="canvas-bg"></div>

  <div class="content-wrapper">
    <div *ngIf="!isStarted" class="start-magic-trigger">
      <button class="play-btn" (click)="startMagic()">
        Tap to Start Magic ✨
      </button>
    </div>

    <div class="photo-wrapper" #personalPhoto>
      <img [src]="currentUser.photo || '/assets/default.jpg'" class="personal-img" alt="Person">
    </div>

    <div class="phone-stage" *ngIf="isStarted">
      <img src="/phone.png" class="phone-img" alt="phone">
      
      <div class="text-overlay">
        @for (msg of messages; track $index) {
          @if (msg.displayedText) {
            <div [class]="'bubble ' + msg.side">
              {{ msg.displayedText }}
            </div>
          }
        }
      </div>
    </div>
  </div>
</div>

<div *ngIf="!currentUser" class="loader">
  <p>Loading Birthday Magic...</p>
</div>